<h1><%-include('../partials/_header') %> </h1>
<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
        <p><%-include('../partials/_makale_card',{makale,index:undefined})%></p>   
    </div>
</div>
